@CHARSET "UTF-8";

.rich-tabpanel-content {background-color: transparent; border: none;}
.rich-fileupload-list-decor{ border: none; }
.buttons { height: 30px; width: 80px;}

/*
input[type="image"]:disabled{
	 border: 1px solid #999;color:#000;
}
input.manageapp[type="image"]:hover{
    opacity:0.5;
}
input[disabled].manageapp:hover{
	
}*/
.rich-tab-inactive {background-image: none; background-color: #6D6060; height: 40px; font-size: 18px; color:yellow; }
.rich-tab-active {background-image: none; background:transparent; height: 40px;font-size: 18px; font-weight: bold; border-top:3px solid green; color: white;}

.buildnumber{
	color:#FF9900; 
	opacity:0.9; 
	font-style: italic; 
	font-size:32px; 
	margin:auto;
	text-align:center;
	padding-bottom: 5px;
}

.infolistel{
	font-style: italic;
}

.footer{
	position:fixed;
	bottom:0px;
	width:100%;
	opacity:0.7;
	left:0px;
	right:0px;
	background-color:black;
}

.rich-table{
	font-size: 18px;
}

.rich-table-headercell{
	font-size: 18px;
}

.rich-table-cell{
	font-size: 15px;
}
.manhelp{
	font-size: 13px;
	margin-bottom: 10px;	
}

.rich-mpnl-body{
	padding:0px;
	background-image:url('../images/background.jpg');
}