@CHARSET "UTF-8";

.rich-tabpanel-content {background-color: transparent; border: none;}
.rich-fileupload-list-decor{ border: none; }
.buttons { height: 30px; width: 80px;}



.button,
button[type=button], 
button[type=reset], 
button[type=submit], 
input[type=reset], 
input[type=submit], 
input[type=button]  {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#232c33), to(#65a9d7));
   background: -webkit-linear-gradient(top, #232c33, #65a9d7);
   background: -moz-linear-gradient(top, #232c33, #65a9d7);
   background: -ms-linear-gradient(top, #232c33, #65a9d7);
   background: -o-linear-gradient(top, #232c33, #65a9d7);
   padding: 8.5px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover,
button[type=button], 
button[type=reset], 
button[type=submit], 
input[type=reset], 
input[type=submit], 
input[type=button]  {
   border-top-color: #485259;
   background: #485259;
   color: #ccc;
   }
.button:active,
button[type=button], 
button[type=reset], 
button[type=submit], 
input[type=reset], 
input[type=submit], 
input[type=button]  {
   border-top-color: #1b435e;
   background: #1b435e;
 }

/*
input[type="image"]:disabled{
	 border: 1px solid #999;color:#000;
}
input.manageapp[type="image"]:hover{
    opacity:0.5;
}
input[disabled].manageapp:hover{
	
}*/
.rich-tab-inactive {background-image: none; background-color: #6D6060; height: 40px; font-size: 18px; color:yellow; }
.rich-tab-active {background-image: none; background:transparent; height: 40px;font-size: 18px; font-weight: bold; border-top:3px solid green; color: white;}

.buildnumber{
	color:#FF9900; 
	opacity:0.9; 
	font-style: italic; 
	font-size:32px; 
	margin:auto;
	text-align:center;
	padding-bottom: 5px;
	
}

.infolistel{
	font-style: italic;
}

.footer{
	position:fixed;
	bottom:0px;
	width:100%;
	opacity:0.7;
	left:0px;
	right:0px;
	background-color:black;
}

.rich-table{
	font-size: 18px;
}

.rich-table-headercell{
	font-size: 18px;
}

.rich-table-cell{
	font-size: 15px;
}
.fancybtntext{
	position: relative;
	left: -50px;
	top: -14px;
	color: white; 
	cursor: pointer;
	opacity:0.7;
}
.manhelp{
	font-size: 13px;
	margin-bottom: 10px;	
}

.backimage{
	 height:100%; width:100%; 
	 background-image:url('../images/backgrounds/background.jpg');
}

.rich-mpnl-body{
	padding:0px;
	background-image:url('../images/backgrounds/background.jpg');
}